<h1><%= @house.name %></h1>
<p class="description"><%= @house.summary %></p>
<h2>House Members:</h2>
<% @house.characters.each do |character| %>
  <div>
    <p><%= character.name %></p>
  </div>
<% end %>
<p><%= link_to 'Edit House Summary', edit_house_path(@house) %></p>
<p><%= link_to 'Delete this House', house_path(@house),
      method: :delete,
    data: { confirm: 'Are you sure?' } %></p>
